.banner{
    background:$bg-theme;    
    
  &__content {
      @extend %p-rel;
      @include padding(80px 0); 
      @include breakpoint(sm){
        @include padding(100px 0); 
      }   
      @include breakpoint(lg){
        @include padding(200px 0); 
      }            
      h3 { 
          @include line-height(80px);
          @include font-size(60px);
          @include breakpoint(lg){
          @include font-size(72px);
          }            
          @extend %text-400, %title-color;
          span{
              @extend %text-600, %title-color;
              @include font-size(37px);
              @include breakpoint(sm){
                @include font-size(50px);
              }  
              &.word{
                  animation: Color 4s linear infinite;   
              }            
          }
          @keyframes Color{
              0%{
                  color:#FC6E51;
              }
              
              40%{
                color:#ff3d4f;
              }
              
              60%{
                color:#FC6E51;
              }
              
              80%{
                color:#E2B577;
              }
              
              100%{
                  color:#ff3d4f;
              }
        }           
          
      }
      h6{
          @extend %text-color;
      }        
      p {
          @extend %d-inline-block,
          %mb-0;
          @include line-height(26px);
          max-width: 550px;
      }  
      .rightimg{
      @extend %abs, %bottom-0;
      z-index: 99;
      width: 450px;
      left: 65%;
      img{
          width: 100%;
      } 
      } 

    &::after{
      @extend %abs, %bottom-0, %bg-white;
      @include breakpoint(xl){
      left: 60%;        
      width: 600px;
      height: 600px;       
      border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
      will-change: border-radius, transform, opacity;
      animation: sliderShape 5s linear infinite;
      display: block;
      z-index: 1;
      box-shadow: 0 5px 20px #4543601a;
      -webkit-animation: sliderShape 5s linear infinite;
      }
    }
    @include breakpoint(xl){
        @keyframes sliderShape{        
        0%,100%{          
          border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;          
            transform: translate3d(0,0,0) rotateZ(0.01deg);          
          }          
          34%{          
              border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;          
              transform:  translate3d(0,5px,0) rotateZ(0.01deg);          
          }          
          50%{          
            transform: translate3d(0,0,0) rotateZ(0.01deg);          
          }          
          67%{          
            border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
            transform: translate3d(0,-3px,0) rotateZ(0.01deg);          
          }
      }
    
    }       
  } 
}

.banner__bobileimg{
  position: relative;
  width: 302px;
  height: 225px;
  margin: -25px  auto 0;
  outline: 6px solid #ffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  @include breakpoint(sm){
    margin: -60px  auto 0;
  }
  @include breakpoint(md){
    margin: -90px  auto 0;
  }
}