@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
/* browser prefix adding  */
/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.accordion-item .accordion-button, .projectfilter__header ul li::after, .projectfilter__header ul li.active::after, .header__nav .mainactive > ul li a.active::after, .header__nav .mainactive > ul li a::after, .btn-menu-main .allphoto .item .inneritem .upitem a:hover, .btn-menu-main .allsocial-icon a, .even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after, .pagi .pagi-inner ul li a:hover, .pagi .pagi-inner ul li a.active, .scrollToTop, .allbtn {
  background: #ff3d4f;
}

.accordion-item--itme2Serpage .accordion-button .plus-icon:before, .accordion-item--itme2Serpage .accordion-button .plus-icon:after, .accordion-item .accordion-button:not(.collapsed) .plus-icon:after, .accordion-item .accordion-button:not(.collapsed) {
  background: #ff3d4f !important;
}

.accordion-item--itme2Serpage .accordion-button:not(.collapsed), .accordion-item--itme2Serpage .accordion-body, .accordion-item .accordion-button .plus-icon:active, .accordion-item .accordion-button .plus-icon, .price, .about__right .bottom .skill__item .skillbar-container, .about__right .top .item, .btn-menu-main .allphoto .item .inneritem .upitem a, .btn-menu-main .sideheader .icon {
  background: #f6f5ff;
}

.projectfilter__item .inneritem .upitem a:hover, .projectfilter {
  background: #f6f5ff !important;
}

.price__inner .content .rate h5, .projectfilter__item .inneritem .upitem a i, .projectfilter__header ul li.active, .about__right .bottom .skill__item .skill-title .right span, .about__right .top .item i, .banner__content h6, .header__sidebar .bar i, .header__nav .mainactive > ul li a.active, .btn-menu-main .allphoto .item .inneritem .upitem a i, .btn-menu-main .allsocial-icon a:hover i, .btn-menu-main .sideheader .icon i, .pagi .pagi-inner ul li:last-child a i, .pagi .pagi-inner ul li:first-child a i, .section__header span {
  color: #ff3d4f;
}

.price__inner .content .rate h5, .allbtn {
  font-family: "Rubi", sans-serif;
}

@keyframes custom1 {
  10% {
    transform: translateY(-8px);
  }
  50% {
    transform: skew(10deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: translate(0);
  }
}

.projectfilter__item::after, .imghover:hover::after, .imghover:hover::before {
  opacity: 0;
}

.projectfilter__item:hover .inneritem, .projectfilter__item:hover::after, .imghover::after, .imghover::before, .btn-menu-main .allphoto .item:hover .inneritem, .even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  opacity: 1;
}

.btn-menu-main .allphoto .item .inneritem .upitem a i {
  font-size: 12px;
}

.projectfilter__item .inneritem .upitem a i, .btn-menu-main .side-info .contact-list p {
  font-size: 0.875rem;
}

.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  background: transparent;
}

.accordion-item--itme2Serpage .accordion-button:not(.collapsed) .plus-icon, .accordion-item--itme2Serpage .accordion-button:not(.collapsed), .accordion-item .accordion-button:not(.collapsed) .plus-icon, .accordion-item .accordion-button:not(.collapsed), .accordion-item .accordion-button .plus-icon, .projectfilter__header ul li::after, .projectfilter__header ul li.active::after, .header__nav .mainactive > ul li a.active::after, .header__nav .mainactive > ul li a::after {
  transition: all 0.3s ease;
}

.header__top.header-fixed, .header__top, .btn-menu-main {
  transition: all 1s ease;
}

.fourzero__content p {
  margin: auto;
}

.price__inner .content .itemlist ul, .projectfilter__item .inneritem, .projectfilter__header ul, .projectfilter__header, .about__right .bottom .skill__item .skill-title, .about__left .personal_information ul li, .header__nav .mainactive > ul, .header__top .right, .btn-menu-main .allphoto .item .inneritem, .btn-menu-main .allsocial-icon, .btn-menu-main .sideheader, .pagi .pagi-inner ul, .pagi .pagi-inner {
  display: flex;
  flex-wrap: wrap;
}

.header .menu-item-has-children > a, body.mrcart__overlay,
.accordion-item .accordion-button .plus-icon,
.projectfilter__item,
.projectfilter__header ul li,
.about__right .bottom .skill__item .skillbar-container,
.banner__content,
.header__nav .mainactive > ul li a,
.header__nav .mainactive > ul li,
.header__top,
.imghover,
.btn-menu-main .allphoto .item,
.btn-menu-main .sideheader,
.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet,
.go-up,
.overly,
.allbtn {
  position: relative;
}

.accordion-item .accordion-button .plus-icon:before, .accordion-item .accordion-button .plus-icon:after, .projectfilter__item::after, .projectfilter__item .inneritem, .projectfilter__header ul li::after, .projectfilter__header ul li.active::after, .banner__content::after, .banner__content .rightimg, .header .menu-item-has-children > a::before, .header .menu-item-has-children > a::after, .header__nav .mainactive > ul li a.active::after, .header__nav .mainactive > ul li a::after, .imghover::after, .imghover::before, .btn-menu-main .allphoto .item .inneritem, .btn-menu-main .sideheader:after, .btn-menu-main, .even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after, .overly::after, .allbtn::before, body.mrcart__overlay::after {
  position: absolute;
  content: "";
}

.accordion-item .accordion-button .plus-icon:before, .accordion-item .accordion-button .plus-icon:after, .projectfilter__item .inneritem, .header .menu-item-has-children > a::after, .imghover::after, .btn-menu-main .allphoto .item .inneritem, .even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after {
  top: 50%;
}

.projectfilter__item::after, .header__top.header-fixed, .imghover:hover::after, .imghover::before, .btn-menu-main, .overly::after {
  top: 0;
}

.accordion-item .accordion-button .plus-icon:before, .accordion-item .accordion-button .plus-icon:after, .projectfilter__item .inneritem, .imghover::before, .btn-menu-main .allphoto .item .inneritem, .even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after {
  left: 50%;
}

.projectfilter__item::after, .projectfilter__header ul li::after, .projectfilter__header ul li.active::after, .imghover:hover::before, .imghover::after, .btn-menu-main .sideheader:after, .overly::after {
  left: 0;
}

.imghover:hover::before, .imghover::after, .btn-menu-main {
  right: 0%;
}

.imghover::after {
  bottom: 50%;
}

.banner__content::after, .banner__content .rightimg, .imghover:hover::after, .imghover::before, .btn-menu-main .sideheader:after {
  bottom: 0%;
}

* {
  padding: 0;
  margin: 0;
}

.price__inner .content .itemlist ul, .projectfilter__header .section__header, .about__left .personal_information ul, .header__nav .mainactive > ul li, .header__nav .mainactive > ul {
  padding: 0 !important;
  margin: 0 !important;
}

.projectfilter__item, .btn-menu-main .allphoto .item, .allbtn {
  overflow: hidden;
}

.accordion-item .accordion-button, .projectfilter__header ul li, .header__sidebar .bar, .btn-menu-main .sideheader .icon i {
  cursor: pointer;
}

.projectfilter__item::after, .projectfilter__header ul li::after, .projectfilter__header ul li.active::after, .about__right .bottom .skill__item .skillbar-container, .about__right .bottom .skill__item, .header__top.header-fixed, .btn-menu-main .allphoto .item .inneritem, .btn-menu-main .allphoto .item a img, .btn-menu-main .allsocial-icon h6, .btn-menu-main .sideheader:after, .mapinner iframe, .overly::after, input, textarea, select, body.mrcart__overlay::after {
  width: 100%;
}

.projectfilter__item a img, .projectfilter__item a {
  width: 100% !important;
}

.projectfilter__item::after, .btn-menu-main .allphoto .item .inneritem, .overly::after, body.mrcart__overlay::after {
  height: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: 900;
}

.pagi .pagi-inner ul li a, .allbtn {
  font-weight: 700;
}

.accordion-item .accordion-button, .price__inner .content .pricebtn a, .projectfilter__header ul li, .about__right .bottom .skill__item .skill-title .right span, .about__right .bottom .skill__item .skill-title .left, .about__left .personal_information ul li span, .banner__content h3 span, .header__nav .mainactive > ul li a, .section__header span, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  font-weight: 600;
}

.price__inner .content .rate span, .about__left .personal_information ul li p {
  font-weight: 500;
}

.banner__content h3 {
  font-weight: 400;
}

.btn-menu-main .allphoto .item .inneritem, .pagi .pagi-inner {
  justify-content: center;
}

.projectfilter__header, .about__right .bottom .skill__item .skill-title, .btn-menu-main .sideheader {
  justify-content: space-between;
}

.accordion-item .accordion-button {
  justify-content: space-between !important;
}

.projectfilter__item .inneritem, .projectfilter__header ul, .projectfilter__header, .about__right .bottom .skill__item .skill-title, .header__nav .mainactive > ul, .header__top .right, .btn-menu-main .allphoto .item .inneritem, .btn-menu-main .allsocial-icon, .btn-menu-main .sideheader {
  align-items: center;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.accordion-item .accordion-button:after, .projectfilter__item .inneritem .upitem, .even__pagination,
.testmonial__pagination {
  display: none;
}

.even__pagination {
  display: none !important;
}

.header__nav .mainactive > ul li a {
  display: block;
}

.price__inner .content .rate span, .projectfilter__item .inneritem .upitem a, .banner__content p, .btn-menu-main .allphoto .item .inneritem .upitem a, .btn-menu-main .allsocial-icon a, .fourzero__content a, .pagi .pagi-inner ul li a, .scrollToTop, .allbtn {
  display: inline-block;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.accordion-item--itme2Serpage .accordion-button:not(.collapsed), .accordion-item--itme2Serpage {
  border: none !important;
}

.accordion-item .accordion-button, .projectfilter__header ul li, .about__right .bottom .skill__item .skill-title .left, .header__nav .mainactive > ul li, .pagi .pagi-inner ul li a, .footerheading h5, input::placeholder, textarea::placeholder, select::placeholder, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  text-transform: capitalize;
}

.allbtn, .section__header span {
  text-transform: uppercase;
}

/* @@@@@@@@@@@@@  Extend Property CSS Writing Now  @@@@@@@@@@@@@@ */
.accordion-item--itme2Serpage .accordion-button, .accordion-item .accordion-button, .price__inner .content .pricebtn a:hover, .price__inner .content .pricebtn a, .projectfilter__item .inneritem .upitem a:hover i, .header .menu-item-has-children.open > a::after, .header .menu-item-has-children.open > a::before, .btn-menu-main .allphoto .item .inneritem .upitem a:hover i, .btn-menu-main .allsocial-icon a i, .btn-menu-main .allsocial-icon h6, .btn-menu-main .side-info .contact-list p, .btn-menu-main .side-info .contact-list h6, .pagi .pagi-inner ul li:last-child a:hover i, .pagi .pagi-inner ul li:first-child a:hover i, .pagi .pagi-inner ul li a:hover, .pagi .pagi-inner ul li a.active, .scrollToTop i,
.scrollToTop svg, .scrollToTop, .swiper-button-next:after,
.swiper-button-prev:after, .footerheading h5, .allbtn {
  color: #fff;
}

.allbtn:hover {
  color: #fff !important;
}

.accordion-item--itme2Serpage .accordion-button:not(.collapsed) .plus-icon, .accordion-item--itme2Serpage .accordion-button .plus-icon, .accordion-item .accordion-button:not(.collapsed) .plus-icon, .accordion-item .accordion-button .plus-icon:before, .accordion-item .accordion-button .plus-icon:after, .projectfilter__item .inneritem .upitem a, .banner__content::after, .header .menu-item-has-children > a::before, .header .menu-item-has-children > a::after, .header__top, .btn-menu-main .allsocial-icon a:hover, .btn-menu-main .sideheader:after, .even__pagination .swiper-pagination-bullet-active:after,
.testmonial__pagination .swiper-pagination-bullet-active:after, .pagi .pagi-inner ul li a, .allbtn::before,
button,
input,
select,
optgroup,
textarea, body {
  background: #fff;
}

.pagi .pagi-inner ul li a {
  color: #000000;
}

.accordion-item--itme2Serpage .accordion-button:not(.collapsed) .plus-icon, .accordion-item--itme2Serpage .accordion-button .plus-icon, .accordion-item .accordion-button:not(.collapsed) .plus-icon, .accordion-item .accordion-button .plus-icon:before, .accordion-item .accordion-button .plus-icon:after, .projectfilter__item .inneritem .upitem a, .banner__content::after, .header .menu-item-has-children > a::before, .header .menu-item-has-children > a::after, .header__top, .btn-menu-main .allsocial-icon a:hover, .btn-menu-main .sideheader:after, .even__pagination .swiper-pagination-bullet-active:after,
.testmonial__pagination .swiper-pagination-bullet-active:after, .pagi .pagi-inner ul li a, .allbtn::before,
button,
input,
select,
optgroup,
textarea, body {
  background-color: #fff;
}

.banner__content h3 span, .banner__content h3, .header__nav .mainactive > ul li a {
  color: #000a2d;
}

.projectfilter__item .inneritem .upitem a, .about__right .bottom .skill__item .skillbar-container, .about__right .top .item, .header__sidebar .bar, .btn-menu-main .allphoto .item .inneritem .upitem a, .btn-menu-main .allsocial-icon a, .btn-menu-main .sideheader .icon, .pagi .pagi-inner ul li a, .scrollToTop {
  text-align: center;
}

.even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after {
  text-align: center !important;
}

.header__nav .mainactive > ul li a, .pagi .pagi-inner ul li a, .allbtn {
  text-decoration: none;
}

.price__inner .content .itemlist ul li, .projectfilter__header ul li, .about__left .personal_information ul li, .header__nav .mainactive > ul li, .pagi .pagi-inner ul li {
  list-style: none;
}

/* @@@@@@@@@@@@@  Extend Property Margin 10 - 30 CSS Writing Now  @@@@@@@@@@@@@@ */
.price__inner .content .rate h5 {
  margin: 0 !important;
}

.btn-menu-main .allsocial-icon {
  margin-block: 30px;
}

.accordion-item .accordion-button, .banner__content p, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin-bottom: 0px;
}

.about__right .bottom .skill__item:last-child, .about__left .personal_information ul li:last-child {
  margin-bottom: 0px !important;
}

.about__right .bottom .skill__item .skill-title, .about__left .personal_information ul li {
  margin-bottom: 10px;
}

.projectfilter__header ul {
  margin-left: 0 !important;
}

.price__inner .content .itemlist ul li i {
  margin-right: 5px;
}

.about__left .personal_information ul li p i {
  margin-right: 10px;
}

.accordion-item {
  margin-bottom: 20px;
}

.fourzero__content p {
  margin-top: 20px;
}

.accordion-item .accordion-button, .banner__content p, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin-bottom: 0px;
}

.about__right .bottom .skill__item:last-child, .about__left .personal_information ul li:last-child {
  margin-bottom: 0px !important;
}

.btn-menu-main .side-info .contact-list h6 {
  margin-bottom: 5px;
}

.price__inner .content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-menu-main .allsocial-icon {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* @@@@@@@@@@@@@  Extend Property padding 10 - 30 CSS Writing Now  @@@@@@@@@@@@@@ */
.accordion-item .accordion-body, .accordion-item .accordion-button {
  padding: 0;
}

.accordion-item--itme2Serpage {
  padding: 0 !important;
}

input, textarea, select {
  padding: 15px;
}

.projectfilter__header ul {
  padding-left: 0 !important;
}

.projectfilter__header ul {
  padding-bottom: 15px;
}

.btn-menu-main .sideheader {
  padding-bottom: 30px;
}

.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  width: 20px !important;
}

.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  height: 20px !important;
}

.btn-menu-main .allsocial-icon a, .btn-menu-main .sideheader .icon {
  width: 30px;
}

.btn-menu-main .allsocial-icon a, .btn-menu-main .sideheader .icon {
  height: 30px;
}

.btn-menu-main .allphoto .item .inneritem .upitem a {
  width: 35px !important;
}

.btn-menu-main .allphoto .item .inneritem .upitem a {
  height: 35px;
}

.accordion-item .accordion-button .plus-icon, .header__sidebar .bar, .pagi .pagi-inner ul li a {
  width: 40px;
}

.projectfilter__item .inneritem .upitem a {
  width: 40px !important;
}

.accordion-item .accordion-button .plus-icon, .projectfilter__item .inneritem .upitem a, .header__sidebar .bar, .pagi .pagi-inner ul li a {
  height: 40px;
}

.btn-menu-main .allphoto .item a {
  width: 95px;
}

.btn-menu-main .allphoto .item a {
  height: 95px;
}

.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  line-height: 20px;
}

.btn-menu-main .allsocial-icon a, .btn-menu-main .sideheader .icon {
  line-height: 30px;
}

.header__sidebar .bar, .pagi .pagi-inner ul li a {
  line-height: 40px;
}

.accordion-item .accordion-button .plus-icon, .projectfilter__item, .projectfilter__header ul li, .about__right .bottom .skill__item .skillbar-container, .about__right .top .item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
body.mrcart__overlay::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 102, 179, 0.95);
}
body.margin-top {
  margin-top: 86px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

:root {
  scroll-behavior: auto !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #555555;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  clear: both;
  line-height: 1.3;
  font-family: "Rufina", sans-serif;
  color: #000a2d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.25rem;
}

span,
p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #70717B;
  font-family: "Rubi", sans-serif;
}

a {
  color: #0066B3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:visited {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: none;
}

a:hover,
a:active {
  outline: 0;
}

img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

select {
  border: 1px solid #D9D9D9;
}

ul li a.facebook {
  background: #3b5998 !important;
  color: #fff !important;
}
ul li a.instagram {
  background: #e4405f !important;
  color: #fff !important;
}
ul li a.linkedin {
  background: #007bb5 !important;
  color: #fff !important;
}
ul li a.twitter {
  background: #55acee !important;
  color: #fff !important;
}

input, textarea, select {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 575px) {
  .bpc {
    background-position: center;
  }
}

.bg-body {
  background: #fff !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px !important;
  }
}
.section__header {
  margin-bottom: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .section__header {
    margin-bottom: 1.875rem;
  }
}
.section__header span {
  font-size: 0.9375rem;
}

.padding-block {
  padding-block: calc(1.875rem + 7.5vw);
}
@media (min-width: 1200px) {
  .padding-block {
    padding-block: 7.5rem;
  }
}

.allbtn {
  padding: 0.9375rem calc(1.375rem + 1.5vw);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: calc(1.3125rem + 0.75vw);
  font-size: 1rem;
  z-index: 1;
}
@media (min-width: 1200px) {
  .allbtn {
    padding: 0.9375rem 2.5rem;
  }
}
@media (min-width: 1200px) {
  .allbtn {
    margin-top: 1.875rem;
  }
}
.allbtn::before {
  height: 140px;
  left: -70px;
  top: -50px;
  transform: rotate(-35deg);
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  transition: 1.2s;
  width: 30px;
  opacity: 0;
}
.allbtn:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.allbtn:hover::before {
  left: 125%;
  opacity: 0.5;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.footerheading {
  margin-bottom: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
  .footerheading {
    margin-bottom: 2.375rem;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: calc(1.2625rem + 0.15vw);
  padding: 1.125rem calc(1.26875rem + 0.225vw);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
@media (min-width: 1200px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    padding: 1.125rem 1.4375rem;
  }
}

.scrollToTop {
  position: fixed;
  bottom: -30%;
  right: 5%;
  z-index: 99;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.scrollToTop:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px 0px rgba(255, 61, 79, 0.5);
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.pagi {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .pagi {
    margin-top: 3.125rem;
  }
}
.pagi .pagi-inner ul {
  gap: 10px;
}
.pagi .pagi-inner ul li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0.5px solid rgba(162, 162, 162, 0.3098039216);
}
.overly::after {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.go-up {
  z-index: 10;
}

.mapinner {
  padding: 1.25rem;
}
.mapinner iframe {
  min-height: 300px;
}

.fourzero__content p {
  max-width: 688px;
}
.fourzero__content a {
  margin-top: 1.25rem;
}

.even__pagination,
.testmonial__pagination {
  z-index: 9999;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 50px;
  height: 50px;
}
@media (min-width: 992px) {
  .even__pagination,
  .testmonial__pagination {
    display: inherit;
  }
}
@media (min-width: 1400px) {
  .even__pagination,
  .testmonial__pagination {
    left: 92% !important;
  }
}
.even__pagination .swiper-pagination-bullet,
.testmonial__pagination .swiper-pagination-bullet {
  border: 2px solid #ff3d4f;
}
.even__pagination .swiper-pagination-bullet:after,
.testmonial__pagination .swiper-pagination-bullet:after {
  width: 8px;
  height: 8px;
  line-height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.even__pagination .swiper-pagination-bullet-active,
.testmonial__pagination .swiper-pagination-bullet-active {
  border: 2px solid #ff3d4f !important;
}
@media (min-width: 1400px) {
  .even__pagination {
    left: 97% !important;
  }
}
@media (min-width: 1200px) {
  .even__pagination {
    display: inherit !important;
  }
}

.btn-menu-main {
  background: #152136 !important;
  height: 100%;
  padding: 20px 30px;
  position: fixed;
  width: 340px;
  z-index: 9999999;
  transform: translateX(100%);
  padding-bottom: 40px;
}
.btn-menu-main.btn-menu-main-right {
  transform: translateX(0);
  height: 700px;
}
.btn-menu-main .sideheader:after {
  height: 1px;
}
.btn-menu-main .side-info {
  margin-top: 1.25rem;
}
.btn-menu-main .allsocial-icon {
  gap: 10px;
}
.btn-menu-main .allphoto .item .inneritem {
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-menu-main .allphoto .item .inneritem .upitem {
  -webkit-transform: translate(51px);
  -ms-transform: translate(51px);
  transform: translate(51px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-menu-main .allphoto .item .inneritem .upitem a {
  line-height: 34px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-menu-main .allphoto .item .inneritem .upitem a i {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-menu-main .allphoto .item:hover .inneritem .upitem:nth-child(1) {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.imghover {
  z-index: 2;
}
.imghover::before {
  right: 51%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.imghover::after {
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
.imghover:hover::before {
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear;
}
.imghover:hover::after {
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear;
}

@media (max-width: 1199px) {
  .header__top {
    padding: 0.625rem;
  }
}
.header__top.header-fixed {
  position: fixed;
  z-index: 99999;
}
@media (min-width: 1200px) {
  .header__top {
    background: #fff;
  }
}
.header__top .right {
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  .header__nav .mobilelogo {
    background: #ff3d4f;
    padding: 0.75rem;
    border-bottom: 3px solid #ff3d4f;
  }
}
@media (max-width: 1199px) {
  .header__nav.target {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 85%;
    overflow-x: hidden;
    z-index: 99999;
    background: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
}
.header__nav.open {
  left: 0%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
@media (max-width: 1199px) {
  .header__nav .mainactive.activescroll {
    height: 328px;
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 1199px) {
  .header__nav .mainactive > ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1199px) {
  .header__nav .mainactive > ul li {
    width: 100%;
  }
}
.header__nav .mainactive > ul li a {
  padding-right: calc(1.3125rem + 0.75vw);
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .header__nav .mainactive > ul li a {
    padding-right: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .header__nav .mainactive > ul li a {
    padding: 1.25rem calc(1.4375rem + 2.25vw) 1.25rem 0rem;
    display: inline-block;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .header__nav .mainactive > ul li a {
    padding: 1.25rem 3.125rem 1.25rem 0rem;
  }
}
@media (max-width: 1199px) {
  .header__nav .mainactive > ul li a {
    width: 100%;
    border-bottom: 0.5px solid rgba(242, 246, 249, 0.12);
  }
}
@media (min-width: 1200px) {
  .header__nav .mainactive > ul li a:hover {
    color: #ff3d4f;
  }
}
@media (max-width: 1199px) {
  .header__nav .mainactive > ul li a {
    background: #f6f5ff;
  }
}
.header__nav .mainactive > ul li a::after {
  width: 65%;
  left: -8px;
  height: 2px;
  top: 85%;
  transform: translate(0%, -85%) scaleX(0);
  transform-origin: left;
}
.header__nav .mainactive > ul li a:hover::after {
  transform: translate(0%, -85%) scaleX(1);
}
.header__nav .mainactive > ul li a.active::after {
  width: 65%;
  height: 2px;
  left: -8px;
  top: 85%;
  transform: translate(0%, -85%) scaleX(1);
  transform-origin: left;
}
@media (min-width: 1200px) {
  .header__nav .mainactive > ul li:hover a {
    color: #ff3d4f;
  }
}
.header .menu-item-has-children > a::after {
  transform: translateY(-50%);
  right: 25px;
  width: 10px;
  height: 2px;
}
.header .menu-item-has-children > a::before {
  top: 50%;
  transform: translateY(-50%);
  right: 29px;
  width: 2px;
  height: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .header .menu-item-has-children > a::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 10px;
    height: 2px;
  }
  .header .menu-item-has-children > a::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 2px;
    height: 10px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .header .menu-item-has-children:hover > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}
@media (max-width: 1199px) {
  .header .menu-item-has-children.open > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}
.header__sidebarinnerheadeing .btn-close.btn-close-white {
  filter: none !important;
}
.header__sidebarinnerheadeing .btn-close:focus {
  box-shadow: none;
}
.header__sidebar .bar {
  box-shadow: 0px 8px 16px 0px rgba(255, 194, 200, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-left: auto;
}
.banner {
  background: #f6f5ff;
}
.banner__content {
  padding: calc(2.375rem + 13.5vw) 0;
}
@media (min-width: 1200px) {
  .banner__content {
    padding: 12.5rem 0;
  }
}
.banner__content h3 {
  line-height: calc(1.625rem + 4.5vw);
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .banner__content h3 {
    line-height: 5rem;
  }
}
@media (min-width: 1200px) {
  .banner__content h3 {
    font-size: 3.75rem;
  }
}
@media (min-width: 992px) {
  .banner__content h3 {
    font-size: calc(1.575rem + 3.9vw);
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .banner__content h3 {
    font-size: 4.5rem;
  }
}
.banner__content h3 span {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .banner__content h3 span {
    font-size: 3.125rem;
  }
}
.banner__content h3 span.word {
  animation: Color 4s linear infinite;
}
@keyframes Color {
  0% {
    color: #FC6E51;
  }
  40% {
    color: #ff3d4f;
  }
  60% {
    color: #FC6E51;
  }
  80% {
    color: #E2B577;
  }
  100% {
    color: #ff3d4f;
  }
}
.banner__content p {
  line-height: calc(1.2875rem + 0.45vw);
  max-width: 550px;
}
@media (min-width: 1200px) {
  .banner__content p {
    line-height: 1.625rem;
  }
}
.banner__content .rightimg {
  z-index: 99;
  width: 450px;
  left: 65%;
}
.banner__content .rightimg img {
  width: 100%;
}
.banner__content::after {
  left: 60%;
  width: 600px;
  height: 600px;
  border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

.about__left .personal_information {
  margin-top: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .about__left .personal_information {
    margin-top: 2.5rem;
  }
}
.about__left .personal_information ul li span {
  width: 145px;
}
.about__left .personal_information ul li p i {
  font-size: 0.75rem;
}
.about__right .top .section__header {
  margin-bottom: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .about__right .top .section__header {
    margin-bottom: 1.875rem;
  }
}
.about__right .top .item {
  padding: calc(1.3125rem + 0.75vw) 0.625rem;
}
@media (min-width: 1200px) {
  .about__right .top .item {
    padding: 1.875rem 0.625rem;
  }
}
.about__right .top .item i {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .about__right .top .item i {
    font-size: 1.875rem;
  }
}
.about__right .top .item h6 {
  margin-top: 1.25rem;
}
.about__right .bottom {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .about__right .bottom {
    margin-top: 3.125rem;
  }
}
.about__right .bottom .skill__item {
  margin-bottom: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .about__right .bottom .skill__item {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 576px) {
  .about__right .bottom .skill__item {
    max-width: 500px;
  }
}
.about__right .bottom .skill__item .skill-title .left {
  font-size: 1.25rem;
}
.about__right .bottom .skill__item .skill-title .right span {
  font-size: 1rem;
  display: inline-block;
}
.about__right .bottom .skill__item .skillbar-container {
  height: 6px;
}
.about__right .bottom .skill__item .skillbar-container .skills {
  height: 7px;
  width: 0;
  border: 0.5px solid #f6f5ff;
  border-radius: 4px;
}

.projectfilter__header {
  margin-bottom: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .projectfilter__header {
    margin-bottom: 3.125rem;
  }
}
.projectfilter__header ul {
  gap: 30px;
  border-bottom: 2px solid #fff;
}
.projectfilter__header ul li {
  color: #000a2d;
  font-size: 1rem;
}
.projectfilter__header ul li.active::after {
  height: 2px;
  top: 40px;
  transform: scaleX(1);
  transform-origin: left;
}
.projectfilter__header ul li::after {
  height: 2px;
  top: 40px;
  transform: scaleX(0);
  transform-origin: left;
}
.projectfilter__header ul li:hover::after {
  transform: scaleX(1);
}
.projectfilter__item .inneritem {
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .projectfilter__item .inneritem .upitem {
    display: inherit;
  }
}
.projectfilter__item .inneritem .upitem:nth-child(1) {
  margin-right: 10px;
  -webkit-transform: translate(51px);
  -ms-transform: translate(51px);
  transform: translate(51px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item .inneritem .upitem:nth-child(2) {
  -webkit-transform: translate(-51px);
  -ms-transform: translate(-51px);
  transform: translate(-51px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item .inneritem .upitem a {
  line-height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item .inneritem .upitem a i {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item .inneritem .upitem a:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item .inneritem .upitem a:hover i {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item::after {
  background: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .projectfilter__item::after {
    background: rgba(0, 0, 0, 0.8);
  }
}
.projectfilter__item:hover::after {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item:hover .inneritem .upitem:nth-child(1) {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectfilter__item:hover .inneritem .upitem:nth-child(2) {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.price__inner {
  padding: calc(1.375rem + 1.5vw) calc(1.3125rem + 0.75vw);
  background: #F6F9FF;
}
@media (min-width: 1200px) {
  .price__inner {
    padding: 2.5rem 1.875rem;
  }
}
@media (min-width: 1200px) {
  .price__inner {
    padding: calc(1.375rem + 1.5vw);
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .price__inner {
    padding: 2.5rem;
  }
}
.price__inner .content .rate h5 {
  line-height: 30px;
}
.price__inner .content .rate span {
  margin-top: 3px;
}
.price__inner .content .itemlist {
  margin-top: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .price__inner .content .itemlist {
    margin-top: 1.5625rem;
  }
}
.price__inner .content .itemlist ul {
  flex-direction: column;
  gap: 15px;
}
.price__inner .content .itemlist ul li i {
  color: rgba(0, 10, 45, 0.5490196078);
}
.accordion-item .accordion-button {
  border-radius: 0 !important;
  font-size: 1rem;
}
@media (min-width: 576px) {
  .accordion-item .accordion-button {
    font-size: 1.25rem;
  }
}
.accordion-item .accordion-button .plus-icon {
  margin-left: auto;
}
.accordion-item .accordion-button .plus-icon:after {
  width: 14px;
  height: 2px;
  transform: translate(-50%, -50%);
}
.accordion-item .accordion-button .plus-icon:before {
  width: 2px;
  height: 14px;
  transform: translate(-50%, -50%);
}
.accordion-item .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-radius: none !important;
}
.accordion-item .accordion-button:not(.collapsed) .plus-icon:before {
  width: 14px;
  height: 2px;
}
.accordion-item--itme2Serpage .accordion-button {
  padding: 0.9375rem 1.25rem;
}
.accordion-item--itme2Serpage .accordion-body {
  padding: calc(1.28125rem + 0.375vw) calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .accordion-item--itme2Serpage .accordion-body {
    padding: 1.5625rem 1.875rem;
  }
}

/*# sourceMappingURL=style.scss.map */
