.contact{
   @include padding(100px 0);
   background: #F6F5FF;
   &__form{
      @include margin-top(30px);
      textarea,
      input{
         background: $white-color;
         box-shadow: 0 5px 20px #4543601a;
      }
   } 
}